body{
    font-family: 'Walter Turncoat', cursive;
    background-color: #EBE8E3;
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
.chinese{
    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
}
p{
    margin: auto;
}
h4{
    margin: auto;
    display: inline-block; 
}
div{
    border: 1px solid #4c4c4c;
}
.container{
    width: 95%;
    height: 740px;
    display: flex;
    justify-content: space-around;
}
.left_Leaderboard{
    width:20%;
    height: 70%;
    background-color: rgba(247, 245, 243, 0.9);
}
.right_container{
    width: 79%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.painter_container{
    height: 63%;
    display: flex;
    justify-content: space-around;
}
.painting_table{
    width: 17%;
    background-color: rgba(247, 245, 243, 0.9);
    display: flex;
}
.penOReraser{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice_type{
    width: 4vw;
    height: 4vw;
    background-size: 100%;
}
.choice_size{
    width: 3vw;
    height: 3vw;
}
.choice_color{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.color_part{
    width: 3vw;
    height: 3vw;
    
}
.drawBox{
    width: 81%;
    background-color: rgba(247, 245, 243, 1);
}
.guest_container{
    height: 35%;
    display: flex;
    justify-content: space-around;
}
.hintBox{
    width: 17%;
    background-color: rgba(247, 245, 243, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
    color: rgb(112, 112, 112);
}
.hint{
    width: 8vw;
    height: 8vw;
    background-image: url(./pic/faq.png);
    background-size: 100%;
}
.answerBox{
    width: 40%;
    background-color: rgba(247, 245, 243, 0.9);
}
.chatingBox{
    width: 40%;
    background-color: rgba(247, 245, 243, 0.9);
}
.pen{
    background-image: url("./pic/edit.png");
}
.eraser{
    background-image: url("./pic/eraser.png");
}
.crash{
    background-image: url("./pic/bin.png");
}


